@import "../../global.scss";

.about
{
    background-color: $accentColour;
    display: flex;

    .left
    {
        flex: 0.5;

        .wrapper
        {  
            .infoCard
            {
                margin-top: 50px;
                margin-left: auto;
                margin-right: 10vh;
        
                width: 1000px;
                height: 700px;
        
                background-color: $mainColour;
        
                border-radius: 0px 250px 250px 0px;

                display: flex;
                justify-content: center;
                flex-direction: column;

                float: right;
    
                h2
                {
                    color: $secondaryAccentColour;
                    
                    margin: 0px 45vh;

                    align-items: center;
                    justify-content: center;
                    
                    font-size: 40px;
                    width: 300px;
                }
    
                p
                {
                    margin-left: 100px;
                    margin-right: 50px;
                    margin-top: 25px;
                    margin-bottom: 100px;

                    padding: 0px 10px 0px 100px;
                    justify-content: center;
                    font-size:40px;
                }
    
            }
            
            a
            {
                position: absolute;
                top: 1630px;
                left: -4%;
                img
                {
                    margin-top: 60px;
                    margin-left: 50vh;
                    width: 50px;

                    animation: arrowPoint 1s infinite ease;
                }
            }

       
        }
    }

    .right
    {
        flex: 0.5;
        overflow: hidden;

        .imgContainer
        {
            background-color: $mainColour;
            border-radius: 70%;

            display: flex;
            justify-content: center;

            width: 120vh;
            height: 130vh;

            margin: 15vh auto;

            img
            {
                padding-top: 10px;
                margin-bottom: 10vh;
                width: 75%;
                height: 75%;
                
            }
        }
    }
    
}