@import "../../global.scss";

.contact
{
    display: flex;

    .left
    {
        overflow: hidden;
        flex: 1;

        img
        {
            background-color: $secondaryColour;


            margin-top: 3%;
            margin-left: 10%;
            justify-content: center;
            width: 75%;
            
            padding: 50px;
            border-radius: 40%;
        }
    }

    .right
    {        
        flex: 1;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        h2
        {
            font-size:  50px;
        }

        form
        {
            width: 70%;
            height: 70%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            input
            {
                width: 300px;
                height: 30px;
                font-size: 14px;
            }

            textarea
            {
                width: 300px;
                height: 200px;
                font-size: 14px;
            }

            button
            {
                cursor: pointer;

                width: 150px;
                height: 30px;

                font-size: 20px;
                color: $mainColour;
                background-color: $secondaryAccentColour;

                margin-top: 20px;
                border: none;
                border-radius: 30px;

                &:focus
                {
                    outline: none;
                }
            }
        }

    }
}